# SSH Tunnel Configuration Template
SSH_HOST=2.24.200.44
SSH_PORT=22
SSH_USER=neha_developer
SSH_PASSWORD=Neha@123

# PostgreSQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=neha_user
DB_PASSWORD=neha_password
DB_NAME=Neha_datta

# Express Server Port
PORT=5000
